<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    <title>Ceneo.pl Web Scraper</title>
</head>

<body class="m-5 bg-secondary-subtle p-4 text-center">

        <header class="text-center">
            <h1>Ceneo.pl Web Scraper</h1>
        </header>


        <section>
            <div class="container-fluid custom-container">
                <div class="row">

                    <div class="col-sm-3 mt-2 d-flex justify-content-center align-items-center">
                        <div class="w-75 list-group text-center m-auto mb-2 mt-4 shadow-lg">
                            <h2 class="text-center">Spis treści:</h2>
                                <a href="{{url_for('index')}}" class="list-group-item list-group-item-action">Strona Główna</a>
                                <a href="{{url_for('extract')}}" class="list-group-item list-group-item-action">Ekstrakcja opinii</a>
                                <a href="{{url_for('products')}}" class="list-group-item list-group-item-action">Produkty</a>
                                {#<a href="{{url_for('product')}}" class="list-group-item list-group-item-action">Opinia o produkcie {{product_id}}</a>#}
                                <a href="{{url_for('author')}}" class="list-group-item list-group-item-action">O autorze</a>                    
                        </div>
                    </div>
                    <div class="col-sm-7 mt-2 row align-items-center">
                        {% block content %}
                            <p>To jest plik bazowy.</p>
                        {% endblock %}
                    </div>

                </div>
            </div>
        </section>
        
        
        <footer class="border-secondary bg-light-subtle rounded shadow w-50 m-auto text-center mt-4">
            <p>Julianna Mali, Uniwersytet Ekonomiczny w Krakowie</p>
        </footer>

</body>

</html>