<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    <title>Ceneo.pl Web Scraper</title>
</head>

<body class="m-5 bg-secondary-subtle p-4 text-center">

        <header class="text-center">
            <h1>Ceneo.pl Web Scraper</h1>
        </header>


        <section>
            {% block content %}
                <p>To jest plik bazowy.</p>
            {% endblock %}
        </section>
        
        
        <footer class="border-secondary bg-light-subtle rounded shadow w-50 m-auto text-center mt-4">
            <p>Julianna Mali, Uniwersytet Ekonomiczny w Krakowie</p>
        </footer>

</body>

</html>