{% extends "base.html.jinja" %}

{% block content %}

    <div class="container-fluid custom-container">
        <div class="row">

            <div class="col-sm-3 mt-2 d-flex justify-content-center align-items-center">
                <div class="list-group text-center m-auto mb-2 mt-4 shadow-lg">
                    <h2 class="text-center">Spis treści:</h2>
                        <a href="#" class="list-group-item list-group-item-action">Strona Główna</a>
                        <a href="#" class="list-group-item list-group-item-action">Ekstrakcja opinii</a>
                        <a href="#" class="list-group-item list-group-item-action">Produkty</a>
                        <a href="#" class="list-group-item list-group-item-action">Opinia o produkcie {{product_id}}</a>
                        <a href="#" class="list-group-item list-group-item-action">O autorze</a>                    
                </div>
            </div>
            <div class="col-sm-7 mt-2 row align-items-center">
                <p>To jest strona ekstrakcji opinii.</p>
            </div>

        </div>
    </div>
    
{% endblock %}