{% extends "base.html.jinja" %}

{% block content %}

    <form action="{{url_for('extract')}}"  method="POST">
        <div class="row g-3 align-items-center">

            <div class="col-auto">
                <label for="product_id" class="col-form-label">Kod produktu</label>
            </div>
            <div class="col-auto">
                <input  type="text" name="product_id" id="product_id"  class="form-control" required aria-describedby="product_idHelpInline" placeholder="Podaj kod produktu">
            </div>
            <div class="col-auto">
                <span id="product_idHelpInline" class="form-text">
                    Kod produktu musi zawierać od 8-10 cyfr
                </span>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary mt-3">Pobierz opinie</button>
    </form>
   
   {% if error is defined%}

        <div  class="alert alert-dismissible fade show" role="alert">
            <strong>Uwaga!</strong> {{error}}
            <button type="button" class="btn-close" data-bs-dismmiss="alert" aria-label="Close"></button>
        </div>

   {% endif %}

{% endblock %}