{% extends "base.html.jinja" %}

{% block content %}

    <p>To jest strona z opiniami o produkcie {{product_id}}.</p>

{#    <table class="table">
    <th><td>Rekomendacja</td><td>Ocena</td><td>Kontent</td><td>Zalety</td><td>Wady</td><td>Przydatny</td><td>Nieprzydatny</td></th>

    {%for i in products%}
        {%for key, value in i.items()%}
            {%if key == 'product_id' and value == product_id%}
                <tr>{{recommendation}}<td></td><td></td><td>fajne</td><td></td><td></td><td></td><td></td></tr>
            {%endif%}
        {%endfor%}
    {%endfor%}

    </table>#}
    
{% endblock %}