{% extends "base.html.jinja" %}

{% block title%}
    Lista produktów
{% endblock%}

{% block content %}

    {% for i in products%}
    <table class="table mt-3 mb-3 col-sm-3">
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Atrybuty produktu</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in i.items() %}

                {% if key == 'product_id'%}

                <tr>
                    <td>ID produktu</td>
                    <td><a href="{{url_for('product', product_id = value)}}"> {{value}} </a></td>
                </tr>

                {%elif key == 'product_name'%}

                <tr>
                    <td>Nazwa produktu</td>
                    <td> {{ value }} </td>
                </tr>

                {%elif key == 'opinions_count'%}

                <tr>
                    <td>Liczba opinii</td>
                    <td> {{ value }} </td>
                </tr>

                {%elif key == 'pros_count'%}

                <tr>
                    <td>Liczba zalet</td>
                    <td> {{ value }} </td>
                </tr>

                {%elif key == 'cons_count'%}

                <tr>
                    <td>Liczba wad</td>
                    <td> {{ value }} </td>
                </tr>

                {%elif key == 'avg_rating'%}

                <tr>
                    <td>Średnia ocena</td>
                    <td> {{ value }} </td>
                </tr>

                {%elif key == 'rating_distribution'%}

                <tr>
                    <td>Rozkład ocen</td>
                    <td> {{ value }} </td>
                </tr>

                {%elif key == 'recommendation_distrb'%}

                <tr>
                    <td>Rozkład rekomendacji</td>
                    <td> {{ value }} </td>
                </tr>

                {%endif%}

            {% endfor %}
        </tbody>
    </table>
    {%endfor%}

{% endblock %}